<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>

<div class="cart_title" >Your Cart</div>
<table>
  <% for item in @cart.line_items %>
    <%= form_for item do |f|%>
      <tr>
        <td>
        <%= f.submit :value => "Update Qty" %>
        <%= f.text_field :quantity, :size => 1 %>
        </td>
        <td><%= item.product.title %></td>
        <td class="item_price" ><%#= number_to_currency(item.total_price) %></td>
      </tr>
    <%  end %>
  <% end %>
    <tr class="total_line" >
    <td colspan="2" >Total</td>
</table>


<%#= link_to 'Edit', edit_cart_path(@cart) %>
<br /><br />
<%= link_to 'Back', carts_path %>